<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Average rating</th>
  </tr>
  </thead>

  <tbody>
  <% objects.each do |o| %>
      <tr>
        <td><%= link_to o.name, o %></td>
        <td><%= o.round(o.average_rating) %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>