<h1><%= @style.name %></h1>

<p> <%= @style.info%> </p>

<p> <strong>beers </strong></p>

<tbody>
  <ul>
    <%  @style.beers.each do |beer|  %>
      <li><%= link_to beer.name, beer%> by <%= link_to beer.brewery.name, beer.brewery%> </li>
    <% end %>
  </ul>